@import "./App.css";

.sign-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 54px);
    margin-top: 20px;
}

#light .sign-in-container{
    color: var(--light-mode-text-color);
}

#dark .sign-in-container{
    color: var(--dark-mode-text-color);
}

.sign-in-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
}

#light .sign-in-wrapper{
    background-color: var(--light-mode-background-color-light);
    border: 1px solid var(--light-mode-soft-color);
}

#dark .sign-in-wrapper{
    background-color: var(--dark-mode-background-color-light);
    border: 1px solid var(--dark-mode-soft-color);
}

.title{
    font-size: 24px;
}

.subtitle{
    font-size: 20px;
}

.sign-in-input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}

#light .sign-in-input{
    border: 1px solid var(--light-mode-soft-color);
    color: var(--light-mode-text-color);
}

#dark .sign-in-input{
    border: 1px solid var(--dark-mode-soft-color);
    color: var(--dark-mode-text-color);
}

.sign-in-button{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#light .sign-in-button{
    background-color: var(--light-mode-soft-color);
    color: var(--light-mode-text-color-soft);
}

#dark .sign-in-button{
    background-color: var(--dark-mode-soft-color);
    color: var(--dark-mode-text-color-soft);
}

.more{
    display: flex;
    margin: 10px 0;
    font-size: 14px;
}

#light .more{
    color: var(--light-mode-text-color-soft);
}

#dark .more{
    color: var(--dark-mode-text-color-soft);
}

.links{
    margin-left: 20px;
}

.link{
    margin-left: 15px;
}